.header {
  height: 52px;
  background-color: #242526;
  color: #fff;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
}
.inner {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  flex: 2;
  margin-left: 137px;
}

.logo {
  position: relative;
  top: 50%;
  transform: translateY(-40%);
}
