.wrapper {
  height: 100%;
  position: relative;
}
.info_background {
  clip-path: polygon(0 0, 0 98%, 100% 92%, 100% 0);
}
.info_background:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.info_heading {
  position: absolute;
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  z-index: 1;
  top: 40%;
  right: 25%;
}
.info_content {
  padding: 30px 0;
}
.content_container {
  padding: 10px 20px 0 20px;
}
.descriptions {
  padding: 0 20px;
  font-size: 1.3rem;
  color: #202020;

  p {
    margin-bottom: 25px;
  }
  h4 {
    padding: 20px 0;
    font-size: 1.7rem;
  }
  strong {
    font-weight: 600;
  }
  a,
  Link {
    padding-left: 3px;
    color: #e62429;

    &:hover {
      color: #9f0013;
      text-decoration: none;
    }
  }
  h3 {
    font-size: 2.4rem;
    font-weight: 600;
  }
  ul {
    margin: 20px 0 0 30px;
    font-size: 1.4rem;

    li a:hover {
      color: #9f0013;
      text-decoration: none;
    }
  }
}
